<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <configurator type="AlexVanWolferen.CustomSitecore.PerformanceCounters.RegisterDependencies, AlexVanWolferen.CustomSitecore.PerformanceCounters" />
    </services>

    <pipelines>

      <initialize>
        <processor type="AlexVanWolferen.CustomSitecore.PerformanceCounters.Pipelines.Loader.InitializePerformanceCounters, AlexVanWolferen.CustomSitecore.PerformanceCounters"
                   patch:after="processor[@type='Sitecore.Analytics.DataAccess.Pipelines.Loader.InitializePerformanceCounters, Sitecore.Analytics.DataAccess']"/>
      </initialize>
    </pipelines>

    <settings>
      <setting name="Counters.Enabled" set:value="true" />
      <settings name="MyCustomCache.CacheSize" value="100MB" />
    </settings>
  </sitecore>
</configuration>